html, body {
    height: 100%;
    margin: 0;
}

.d_flex{
    display: flex;
}

.a_center{
    align-items: center;
}

.j_center{
    justify-content: center;
}

.j_space{
    justify-content: space-between;
}

button{
    cursor: pointer;
}

.f_collum{
    flex-direction: column;
}

.f_wrap{
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
}

.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
}