.poketball{
    width: 90px;
}

.bg_black{
    background-color: black;
}

.headline{
    padding: 8px;
}

#header input{
    height: 60px;
    background-color: #ffff5f;
    width: 300px;
    border-radius: 8px;
    font-size: 36px;
}

#content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    color: white;
    flex-grow: 1; /* Content nimmt den verbleibenden Raum ein */
    overflow-y: auto; /* Wenn der Inhalt zu groß ist, wird er scrollen */
}


.pokemon_card {
    width: 200px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgb(0 0 0);
    margin: 15px;
    text-transform: capitalize;
    background-color: black;
    cursor: pointer;
}

.pokemon_card_img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 16px;
}

.pokemon_card_img img{
    width: 200px;
    height: 200px;
}

.pokemon_types {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.pokemon_types span {
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 7px -10px 8px 0px rgb(0 0 0 / 35%);
}

.bg_img {
    background-image: url(./img/poketball_BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
}

.loading-screen {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 12, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loading-img {
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    object-fit: contain;
}

.loading-bar-container {
    width: 80%;
    height: 10px;
    background-color: #333; 
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.loading-bar {
    width: 0%;
    height: 100%;
    background-color: #FFD700;
    animation: fillBar 6s linear forwards;
    border-radius: 5px;
}

@keyframes fillBar {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.d-none {
    display: none;
}

#loadMoreButton {
    background-color: #F7D02C; /* Gelbe Farbe */
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#loadMoreButton:hover {
    background-color: #F7B02C; /* Helleres Gelb beim Hover */
}

.selectedPokemon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.card_details{
    width: 400px;
    height: 85vh;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgb(0 0 0);
    margin: 15px;
    text-transform: capitalize;
    background-color: black;
    color: white;
}

.card_details_img{
    overflow: hidden;
    border-radius: 16px;
}

.card_details_img img{
    width: 100%;
}

.openCard{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.section {
    margin-top: 10px;
}

.section tbody{
    display: flex;
    gap: 32px;
}

.section tr{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section td{
    margin-top: 8px;
}

.section table{
    width: 100%;
}

.bg{
    background-color: #082029;
}

.container_buttons{
    display: flex; 
    width: 100%;
    margin: 0 0 16px 0;
}

.container_buttons button {
    width: 100%;
    background-color: #114758;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.container_buttons button:hover {
    background-color: #145a6d;
    border-bottom: 3px solid #B65852;
}

.stat-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 20px;
    position: relative;
}

.stat-bar-inner {
    background-color: #B65852;
    height: 100%;
    width: 0%;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    color: white;
    font-weight: bold;
}

.evolution-image-container {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.evolution-image {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.arrow {
    font-size: 32px;
    color: #ffffff;
}
